<div *ngIf="this.enabled">
  <div class="separator pb-3">OR</div>
  <div>
    <form>
      <div class="form-group">
        <label class="d-block">
          <input class="form-control" autocomplete="email" [formControl]="email" [placeholder]="'Email' | translate" />
          <small [hidden]="email.untouched || email.valid" class="text-danger" translate> Email is required </small>
        </label>
      </div>
      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="email.invalid"
        (click)="this.onClick(email.value)"
      >
        <span translate><i class="far fa-envelope mr-2"></i>Continue with Email</span>
      </button>
    </form>
  </div>
</div>
