<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Connected Logins</h4>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-loader [loading]="this.loading"></app-loader>
      <div class="row">
        <div *ngFor="let login of this.logins | keyvalue" class="col-lg-6 col-md-8 col-sm-10 col-12 pt-3 pb-3">
          <h5>{{ login.value.name }}</h5>
          <button class="btn btn-primary" [disabled]="login.value.enabled" (click)="this.connect(login.key)">
            <i *ngIf="login.value.enabled" class="fas fa-check mr-2"></i>
            <i *ngIf="!login.value.enabled" class="fas fa-plus mr-2"></i>
            {{ login.value.enabled ? 'Connected' : 'Connect' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
