<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Connected Logins</h4>
      <hr />
    </div>
  </div>
  <div class="row">
    <div *ngFor="let method of this.methods | keyvalue" class="col-lg-6 col-md-8 col-sm-10 col-12 pt-3 pb-3">
      <h5>{{ method.value.name }}</h5>
      <button class="btn btn-primary" [disabled]="this.logins[method.key]">
        <i *ngIf="this.logins[method.key]" class="fas fa-check mr-2"></i>
        <i *ngIf="!this.logins[method.key]" class="fas fa-plus mr-2"></i>
        {{ this.logins[method.key] ? 'Connected' : 'Connect' }}
      </button>
      <button
        *ngIf="this.logins[method.key]"
        class="btn btn-secondary"
        (click)="this.disconnectSocialLogin(method.key)"
      >
        Disconnect
      </button>
    </div>
  </div>
</div>
