@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.profile-photo {
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

.profile-icon {
  font-size: 4em;
  color: theme-color("secondary");
}

.name {
  font-size: x-large;
}

.email {
  color: theme-color("secondary");
}
